/* color variables */
:root {
  /* colors */
  --bg-primary: #111;
  --font-primary: #fff;
  --border-primary: #fff;
  --clr-cursor: #eee;

  /* fonts */
  --para-font: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
  --head-font: 'Space Mono', 'Courier New', Courier, monospace;

  /* for conversions */
  --px-to-vh: 0.09259259259259259vh;
  --px-to-vw: 0.052083333333333336vw;
  --px-to-rem: 0.0625rem;

  /* common font sizes */
  --font-size-16: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: none;
}

body {
  background-color: var(--bg-primary);
  color: var(--font-primary);
  font-family: var(--para-font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* expanding body to full page */
  width: 100vw;
  height: 100vh;

  /* hiding scrollbar */
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* removing scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* adding font styles + length */
:is(h1, h2) {
  font-family: var(--head-font);
}

body, button {
  font-size: max(16px, calc(24 * var(--px-to-vw)));
}

h1 {
  font-size: max(48px, calc(56 * var(--px-to-vw)));
  font-weight: bold;
}

h2 {
  font-size: max(32px, calc(40 * var(--px-to-vw)));
  font-weight: bolder;
}

h3 {
  font-size: max(24px, calc(32 * var(--px-to-vw)));
  font-weight: 600;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}
