.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container > * {
  flex: 1;
  width: 100%;
}

.col {
  flex: 1;
  min-height: 25vh;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.col .title {
  font-size: max(48px, calc(64 * var(--px-to-vw)));
  padding: 0.2em 0;
  margin: 0 auto;
  width: max-content;
  position: relative;
  letter-spacing: 0;
  user-select: none;

  --typewriter-speed: 3.2s;
  --animation-steps: 8;
}

.col .title::before,
.col .title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.col .title::before {
  background-color: var(--bg-primary);
  animation: typewriter var(--typewriter-speed) steps(var(--animation-steps)) 1s infinite alternate;
}

.col .title::after {
  background-color: #fff;
  width: 0.1em;
  animation: typewriter var(--typewriter-speed) steps(var(--animation-steps)) 1s infinite alternate,
    cursor-blink 0.25s ease-in-out infinite alternate;
}

.col .description {
  padding: 1em;
}

.col-grid {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'hex1 hex2'
    'hex3 hex3';
  place-items: center;
}

.hex-wrapper {
  width: 24vh;
  height: 24vh;
}

@media only screen and (min-width: 48em) {
  .container {
    flex-direction: row;
  }

  .col-grid {
    flex: 1;
  }

  .hex-wrapper {
    width: 30vh;
    height: 30vh;
  }
}

@keyframes typewriter {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  80% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
